// bower:scss
@import 'bower_components/normalize-scss/_normalize.scss';
// endbower
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$white: #ffffff !default;
$brand-primary: #37b34a !default;
$brand-success: #0275d8 !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
$brand-inverse: $gray-dark !default;
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-serif: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
$screen-md: 45rem;
$screen-lg: 60rem;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  background: $white;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.75rem;
  margin: 0;
  letter-spacing: -1.32px;
  color: $white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.24);
  @media (min-width: $screen-md) {
    font-size: 3.5rem;
    line-height: 3.75rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 0;
  padding: 0.5em 0;
  @media (min-width: $screen-md) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: $brand-primary;
  @media (min-width: $screen-md) {
    font-size: 1.25rem;
  }
}

nav {
  display: none;
  color: $white;
  background: $brand-primary;
  @media (min-width: $screen-lg) {
    display: block;
    font-size: 75%;
    position: relative;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button {
        margin-left: 2em;
      }
    }
  }
  &.sticky {
    position: fixed;
  }
}

p {
  font-weight: 300;
  margin: 0;
  padding: 1em 0;
  strong {
    font-weight: 400;
    color: $brand-primary;
  }
}

.hidden-screen-sm {
  @media (max-width: $screen-md) {
    display: none;
  }
}

.hidden-screen-md {
  @media (max-width: $screen-lg) {
    display: none;
  }
}

.hidden-screen-lg {
  @media (max-width: $screen-lg) {
    display: block;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.button {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $gray-lightest;
  border: 2px solid $brand-primary;
  background: $brand-primary;

  &:hover {
    border-color: darken($brand-primary, 10%);
    background: darken($brand-primary, 10%);
  }

  &.button-outline {
    color: $brand-primary;
    background: transparent;

    &:hover {
      color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 10%);
    }
  }

  &.button-inverted {
    color: $brand-primary;
    border-color: $white;
    background: $white;

    &:hover {
      color: darken($brand-primary, 10%);
      border-color: $gray-lighter;
      background: $gray-lighter;
    }
  }
  &.button-block-screen-sm {
    @media (max-width: $screen-md) {
      display: block;
      margin-bottom: 1em;
    }
  }
}

header[role=banner] {
  .headline {
    display: flex;
    align-items: center;
    background: url('../images/background.jpg') 50% 50% no-repeat $brand-primary;
    background-size: cover;
    box-shadow: 0 0 0.4em $gray-light;
    color: $white;
    aside {
      width: 50%;
      text-align: center;
      img {
        display: block;
        margin: 1em auto 0;
      }
    }
    .content {
      p {
        text-shadow: 0 2px 4px rgba(0,0,0,0.24);
        font-weight: 700;
        max-width: 20em;
        font-size: 1.2em;
      }
      padding: 2.5vh 10%;
      @media (min-width: $screen-lg) {
        width: 50%;
        padding: 1em 1.5em;
      }
    }
    .banner-logo {
      width: 12em;
      margin-bottom: 2em;
    }
  }
  .teaser-content {
    margin: 0 auto;
    max-width: 80em;
    display: flex;
    align-items: center;
    aside {
      width: 50%;
      text-align: center;
      padding: 5vw 0;
    }
    .content {
      padding: 2.5vh 10%;
      @media (min-width: $screen-lg) {
        width: 50%;
        padding: 1em 1.5em;
      }
    }
    img {
      width: 80%;
      max-width: 25em;
    }
    p.lede {
      font-size: 1.125em;
    }
  }
}

.feature-section {
  display: flex;
  margin: 0 auto;
  border-top: 2px solid $gray-lighter;
  align-items: center;
  @media (min-width: $screen-lg) {
    width: 80%;
    max-width: 55.555555em;
    height: 100vh;
    border: none;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  .content {
    width: 100%;
    padding: 2.5vh 10%;
    @media (min-width: $screen-lg) {
      width: 50%;
      padding: 1em 1.5em;
    }
  }

  aside {
    display: none;
    @media (min-width: $screen-lg) {
      display: block;
      width: 50%;
      padding: 3em 0;
      text-align: center;
      img {
        max-height: 80vh;
      }
    }
  }
}


.form-section {
  display: flex;
  background: $gray-lighter;
  flex-direction: column;
  @media (min-width: $screen-lg) {
    justify-content: space-around;
    flex-direction: row;
    padding: 3vw 10%;
  }
  .content {
    width: 100%;
    padding: 0 10%;
    @media (min-width: $screen-lg) {
      width: 50%;
      max-width: 30em;
      padding: 1em 1.5em;
    }
  }
  h2 {
    color: $brand-primary;
  }
}

.form-row {
  margin: 0 0 1.5em;
}

.control-label {
  display: block;
  margin: 0.25em 0;
  font-family: $font-family-sans-serif;
  .form-row-disabled & {
    color: $gray-light;
  }
}

.help-text {
  font-size: 0.8em;
  margin: 0.25em 0 0.5em;
  padding: 0;
}

.form-control {
  font-family: $font-family-sans-serif;
  background: $white;
  width: 100%;
  font-size: 16px;
  height: 40px;
  padding: 0 0.5em;
  -webkit-appearance: none;
  outline: 0;
  border: 1px solid $gray-dark;
  &:focus {
    border-color: $brand-primary;
  }
  &:disabled {
    color: $gray-light;
    background: $gray-lightest;
    border-color: $gray-light;
  }
}

footer {
  font-size: 12px;
  padding: 0 5%;
  text-align: center;
  background: darken($brand-primary, 20%);
  color: $white;
}
