// bower:scss
@import 'bower_components/normalize-scss/_normalize.scss'; // endbower
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$white: #ffffff !default;
$brand-primary: #37b34a !default;
$brand-success: #0275d8 !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
$brand-inverse: $gray-dark !default;
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-serif: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
$screen-md: 45rem;
$screen-lg: 60rem;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  background: $white;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.75rem;
  margin: 0;
  letter-spacing: -1.32px;
  color: $white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.24);
  @media (min-width: $screen-md) {
    font-size: 3.5rem;
    line-height: 3.75rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 0;
  padding: 0.5em 0;
  @media (min-width: $screen-md) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: $brand-primary;
  @media (min-width: $screen-md) {
    font-size: 1.25rem;
  }
}

nav {
  display: none;
  color: $white;
  background: $brand-primary;
  @media (min-width: $screen-lg) {
    font-size: 75%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 0 5%;
    transition: opacity 0.2s ease;
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}

p {
  font-weight: 300;
  margin: 0;
  padding: 1em 0;
}

.hidden-screen-sm {
  @media (max-width: $screen-md) {
    display: none;
  }
}

.hidden-screen-md {
  @media (max-width: $screen-lg) {
    display: none;
  }
}

.hidden-screen-lg {
  @media (max-width: $screen-lg) {
    display: block;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.button {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $gray-lightest;
  border: 2px solid $brand-primary;
  background: $brand-primary;

  &:hover {
    border-color: darken($brand-primary, 10%);
    background: darken($brand-primary, 10%);
  }

  &.button-outline {
    color: $brand-primary;
    background: transparent;

    &:hover {
      color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 10%);
    }
  }

  &.button-inverted {
    color: $brand-primary;
    border-color: $white;
    background: $white;

    &:hover {
      color: darken($brand-primary, 10%);
      border-color: $gray-lighter;
      background: $gray-lighter;
    }
  }
}

header[role=banner] {
  .headline {
    padding: 10vh 10%;
    background: url('../images/background.jpg') 50% 50% no-repeat $brand-primary;
    background-size: cover;
    @media (min-width: $screen-lg) {
      padding: 10vh 10% 10vh 50%;
    }
  }

  .content {
    padding: 2.5vh 10%;
    @media (min-width: $screen-lg) {
      padding: 10vh 10% 20vh 50%;
    }

    p.lede {
      font-size: 1.125em;
      @media (min-width: $screen-md) {
        font-size: 1.25em;
      }
    }
  }
}

.feature-section {
  display: flex;
  margin: 0 auto;
  border-top: 2px solid $gray-lighter;
  align-items: center;
  @media (min-width: $screen-lg) {
    width: 80%;
    max-width: 55.555555em;
    height: 100vh;
    border: none;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  .content {
    width: 100%;
    padding: 2.5vh 10%;
    @media (min-width: $screen-lg) {
      width: 50%;
      padding: 1em 1.5em;
    }
  }

  aside {
    display: none;
    @media (min-width: $screen-lg) {
      display: block;
      width: 50%;
      padding: 3em 0;
      text-align: center;
    }
  }
}

footer {
  font-size: 12px;
  padding: 0 5%;
  text-align: center;
}
